@model T1809E_PROJECT_SEM3.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared_Admin/_Layout.cshtml";
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Office Manage</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="content">
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h4>Order</h4>
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">



                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedBy.FullName)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.CreatedBy.FullName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Service.Type)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.Service.Type)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpdatedBy.FullName)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.UpdatedBy.FullName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SenderName)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.SenderName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SenderAddress)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.SenderAddress)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SenderPhone)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.SenderPhone)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ReceiverName)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.ReceiverName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ReceiverAddress)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.ReceiverAddress)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ReceiverPhone)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.ReceiverPhone)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Distance)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.Distance)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Weight)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.Weight)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreateAt)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.CreateAt)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PriceShip)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.PriceShip)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.Status)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TypeItem)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model =>  model.TypeItem.Name)
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                                @Html.ActionLink("Back to List", "Index")
                            </p>
                        </div>

                    </div>

                </section>

            </div>
        </div>
    </div>
</div>
