@model PagedList.IPagedList<T1809E_PROJECT_SEM3.Models.Order>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared_Admin/_Layout.cshtml";
    <link rel="stylesheet" href="~/AdminTemplate/assets/css/style.css">
    <link rel="stylesheet" href="~/AdminTemplate/assets/css/cs-skin-elastic.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Office Manage</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="content">
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">

                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">

                                @using (Html.BeginForm("Index", "Orders", FormMethod.Get, new { @name = "search-form" }))
                                {
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p class="padding">
                                                Search By Keyword
                                            </p>
                                            <div class="input-group m-bot15">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="submit" style="height:34px"> Search <i class="fa fa-search"></i></button>
                                                </span>
                                                @Html.TextBox("SearchStringName", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Name. . . " })
                                            </div>
                                        </div>
                                        <div class="col-md-4 .ml-auto">
                                            <p class="padding">
                                                Search By Status
                                            </p>
                                            @Html.DropDownList("status",
                                            EnumHelper.GetSelectList(typeof(T1809E_PROJECT_SEM3.Models.Order.EnumStatusOrder)),
                                            "Select Status",
                                            new { @class = "btn btn-outline-secondary" })
                                        </div>
                                    </div>

                                }

                                <p class="btn btn-outline-primary">
                                    @Html.ActionLink("Create New +", "Create")
                                </p>
                                <table class="table">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Service.Type
                                        </th>
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.UpdatedBy.FullName)
                                            </th>*@
                                        <th>
                                            SenderName
                                        </th>
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.SenderAddress)
                                            </th>*@
                                        <th>
                                            SenderPhone
                                        </th>
                                        <th>
                                            ReceiverName
                                        </th>
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.ReceiverAddress)
                                            </th>*@
                                        <th>
                                            ReceiverPhone
                                        </th>

                                        <th>
                                            Distance
                                        </th>
                                        <th>
                                            Weight
                                        </th>
                                        <th>
                                            CreateAt
                                        </th>
                                        <th>
                                            PriceShip
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Service.Type)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.UpdatedBy.FullName)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SenderName)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.SenderAddress)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SenderPhone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ReceiverName)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.ReceiverAddress)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ReceiverPhone)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Distance)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Weight)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreateAt)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PriceShip)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                            </td>
                                        </tr>
                                    }

                                </table>
                                <br />
                                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


                                @Html.PagedListPager(Model, page => Url.Action("Index",
                                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, status = ViewBag.Status }))

                            </div>





                        </div>


                    </div>

                </section>

            </div>

        </div>
    </div>
</div>