@model IEnumerable<T1809E_PROJECT_SEM3.Models.UserViewModel>

<p>
    @Html.ActionLink("Create New", "Register","Account")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @item.UserName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            <a href="../Roles/EditRole?id=@item.UserId">Add Role</a> |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        <a href="../Roles/RemoveRoles/@item.UserId">Delete Role</a>
        </td>
    </tr>
}

</table>
