@model T1809E_PROJECT_SEM3.Models.Service

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared_Admin/_Layout.cshtml";
}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Manage Service</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Service Details</strong>
                        </div>
                        <div class="card-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Type)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Type)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PricePerKm)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PricePerKm)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PricePerKg)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PricePerKg)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Status)
                                </dd>
                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>