@model T1809E_PROJECT_SEM3.Models.Service

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared_Admin/_Layout.cshtml";
}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Manage Service</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Service Details</strong>
                        </div>
                        <div class="card-body">
                            <div class=" p-2">
                                <div class="row mb-2 mt-2">
                                    <strong class="col-md-5">
                                        @Html.DisplayNameFor(model => model.TypeDelivery)
                                    </strong>

                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.TypeDelivery)
                                    </div>
                                </div>
                                <hr />
                                <div class="row mb-2 mt-2">
                                    <strong class="col-md-5">
                                        @Html.DisplayNameFor(model => model.From)
                                    </strong>

                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.From)
                                    </div>
                                </div>
                                <hr />
                                <div class="row mb-2 mt-2">
                                    <strong class="col-md-5">
                                        @Html.DisplayNameFor(model => model.To)
                                    </strong>

                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.To)
                                    </div>
                                </div>
                                <hr />

                                <div class="row mb-2 mt-2">
                                    <strong class="col-md-5">
                                        @Html.DisplayNameFor(model => model.PriceStep)
                                    </strong>

                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.PriceStep)
                                    </div>
                                </div>
                                <hr />

                                <div class="row mb-2 mt-2">
                                    <strong class="col-md-5">
                                        @Html.DisplayNameFor(model => model.TypeCaculalor)
                                    </strong>

                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.TypeCaculalor)
                                    </div>
                                </div>
                                <hr />

                                <div class="row mb-2 mt-2">
                                    <strong class="col-md-5">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </strong>

                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.Description)
                                    </div>
                                </div>
                                <hr />
                                <div class="row mb-2 mt-2">
                                    <strong class="col-md-5">
                                        @Html.DisplayNameFor(model => model.Status)
                                    </strong>

                                    <div class="col-md-6">
                                        @Html.DisplayFor(model => model.Status)
                                    </div>
                                </div>

                            </div>
                        </div>
                        <p class="ml-5">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>