@model PagedList.IPagedList<T1809E_PROJECT_SEM3.Models.Service>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared_Admin/_Layout.cshtml";
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Manage Service</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Service List</strong>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("Index", "Services", FormMethod.Get, new { @name = "search-form" }))
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <p class="padding">
                                            Search By Keyword
                                        </p>
                                        <div class="input-group">
                                            <button type="submit" class="btn btn-outline-link">Search <i class="fa fa-search"></i></button>
                                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = " Name . . . " })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 .ml-auto">
                                    <p class="padding">
                                        Search By Status
                                    </p>
                                    @Html.DropDownList("status",
                                    EnumHelper.GetSelectList(typeof(T1809E_PROJECT_SEM3.Models.Service.StatusEnumService)),
                                    "Select Status",
                                    new { @class = "btn btn-outline-secondary", onchange = "form.submit()" })
                                </div>
                            </div>
                        }
                        <p class="btn btn-outline-primary">
                            @Html.ActionLink("Create New +", "Create")
                        </p>
                        @if (Model.Count == 0)
                        {
                            <div style="font-style:italic ; text-align:center ; font-size: 1.2em;" class="padding">
                                (NO RESULT IS FOUND)
                            </div>
                        }
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Type
                                    </th>

                                    <th>
                                        Distance Step
                                    </th>
                                    <th>
                                        Price Step
                                    </th>
                                    <th>
                                        Coefficient Weight
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Status
                                    </th>

                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DistanceStep)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PriceStep)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PriceWeight)
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                        <button type="button" class="btn btn-sm btn-danger  " data-toggle="modal" data-target="#myModal_@item.ID">
                                            <i class="fa fa-trash"></i>
                                        </button>


                                        <div class="modal" id="myModal_@item.ID">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Message</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <span>Are your sure delete</span> <span class="text-uppercase" style="text-decoration: underline; font-weight: bold">@item.Type </span> ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        @using (Html.BeginForm("Delete", "Services", new { id = item.ID }))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            <input type="submit" value="Delete" class="btn btn-default btn-danger" />
                                                            <input type="button" class=" btn btn-default " data-dismiss="modal" value="Cancel" />
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        @if (Model.PageCount > 1)
                        {
                            <div>
                                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                                @Html.PagedListPager(Model, page => Url.Action("Index",
                                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, status = ViewBag.Status }))
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        function Submit() {
            if (confirm("Are you sure you want to submit ?")) {
                return true;
            } else {
                return false;
            }
        }
</script>
@{ if ((string)TempData["message"] == "Create")
    {
        <script type="text/javascript">
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Created',
                    showConfirmButton: false,
                    timer: 1500
                })
        </script>
    }
    else if ((string)TempData["message"] == "Edit")
    {
        <script type="text/javascript">
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Edited',
                    showConfirmButton: false,
                    timer: 1500
                })
        </script>
    }
    else if ((string)TempData["message"] == "Fail")
    {
        <script type="text/javascript">
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!'
                })
        </script>
    }
    else if ((string)TempData["message"] == "Fail Delete")
    {
        <script type="text/javascript">
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'It is already deleted!'
                })
        </script>
    }
    else if ((string)TempData["message"] == "Delete")
    {
        <script type="text/javascript">
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Deleted',
                    showConfirmButton: false,
                    timer: 1500
                })
        </script>
    }
}